.example-component
  span.label
    | {{label}}:
    strong.count {{count}}
  .controls
    button(type="button" data-action="click:increment") +1
    button(type="button" data-action="click:toggle") {{active}}