doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Basic Template
    link(rel="stylesheet" href="./styles/styles.css")
  body
    header
      h1 Hello, Basic Template!      
      badge-component
    example-component
    script(type="module" src="./index.ts")