doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TypeScript + Parcel
    link(rel="stylesheet" href="./styles/styles.css")
  body
    h1 Hello, TypeScript + Parcel!
    example-component
    script(type="module" src="./index.ts")